.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.mat-mdc-card-header {
  display: flex;
  padding: 16px 16px 0;
  margin: 8px;
  justify-content: center;
  align-items: center;
}

.login-card {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.login-title {
  width: 100%;
  text-align: center;
  flex: 1;
}

.login-form-field {
  width: 100%;
}

.login-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-account-button {
  margin-top: 10px;
}

.register-info {
  margin-bottom: 10px;
}
