.store-list {
  margin: 20px;
}

.store-form {
  margin-bottom: 20px;
}

.store-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.store-card {
  width: 300px;
  margin-bottom: 20px;
}
